<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

		{% stylesheets
		    'bundles/pmfstatic/css/home/*' filter='cssrewrite' output='css/*.css'
		%}
			<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
        
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        
    </head>
    <body>
    {% block body %}
        
        <div id="global-container">
        
        	<div id="overall-container">
        	
        		<div id="header">
        		
			        <div class="auth-overall">
			        	
			        	<div class="auth-top">
			        	
			        		<div class="social">
			        			
			        		</div>
			        		
			        		<div class="login">
			        			<span class="pseudo">Pseudo:</span>
			        			<span class="password">Mdp:</span>
			        			
			        			<div class="auth">
			        				
			        				<p class="form-logged">
			        					<form>
			        						<input class="username" type="text" name="username" id="username" size="10" />
			        						<input class="password" type="password" name="password" id="password" size="10" />
			        						
			        						<input class="submit" type="submit" name="sign-in" value="" /> 
			        					</form>
			        				</p>
			        				
			        			</div>
			        			
			        		</div>
			        		
			        		<div class="register">
			        			<p>Vous n'avez pas encore de compte?</p>
			        			
			        			<p><button>Je m'inscris</button></p>
			        		</div>
			        		
			        	</div>
			        	
			        	<div class="auth-bottom">
			        		
			        		<div class="links">
			        			<p><a href="#">Connexion</a> |<a href="#">Inscription</a></p>
			        		</div>
			        		
			        	</div>
			        	
			        </div>
		        
		        </div>
		        
		        <div id="container">
		        	
		        	<img id="char-managers" src="{{ asset('assets/images/characters-managers.png') }}" alt="Managers" />
		        	<img id="char-players" src="{{ asset('assets/images/characters-players.png') }}" alt="Players" />
		        	<img id="ball-shoes-field" src="{{ asset('assets/images/ball-shoes-field.png') }}" alt="Ball, shoes and field" />
		        	
		        	<div id="logo"></div>
		        	
		        	<div id="content">
		        		{% block content %}
		        		{% endblock %}
		        	</div>
		        	
		        </div>
		        
		        <div id="statistics-content">
		        
		        		<div class="frame">
		        			<span class="type">Top manager</span>
		        		</div>
		        		
		        		<div class="frame">
		        			<span class="type">Top joueur</span>
		        		</div>
		        		
		        		<div class="frame">
		        			<span class="type">Top transfert</span>
		        		</div>
		        		
		        		<div class="stats">
		        			<p class="members"><span>Membres |</span> 0</p>
		        			<p class="online"><span>En ligne |</span> 0</span></p>
		        			<p class="new-members-today"><span>Nouveaux aujourd'hui |</span> 0</span></p>
		        		</div>
		        </div>
		        
		       	<div id="statistics-bar">
		        		<p><a href="#">Statistiques du jeu / joueurs</a></p>
		        </div>
		        
		        <div id="footer">
		        
		        </div>
		        
		        
	        </div>

        </div>
        
    {% endblock %}
      
        {% block javascripts %}{% endblock %}
    </body>
</html>
