<!DOCTYPE html>
<html>
    <head>
	{% include 'PmfStaticBundle:Common/Block:head.html.twig' %}
    
        {#
        	----------------------------------
        	note: we might want to use assetic later...
        	----------------------------------
			{% stylesheets
			    'bundles/pmfstatic/css/home/*' filter='cssrewrite' output='css/*.css'
			%}
				<link rel="stylesheet" href="{{ asset_url }}" />
			{% endstylesheets %}
		#}
        
        {% block stylesheets %}
				<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/home/css/main.css') }}" />	
		{% endblock %}
        
        {% block scripts %}
        
        	<script src="{{ asset('assets/home/js/init.js') }}" type="text/javascript"></script>
        	
        {% endblock %}
        
        
    </head>
    <body>
    {% block body %}
        
        
        <!-- <img src="{{ asset('assets/home/images/background.png') }}" class="global-background" alt="" /> -->
        
        <div id="global-container">
        	
        	{% include 'PmfStaticBundle:Common/Block:common-body.html.twig' %}
        	
        	<div id="header">
        	{% block header %}
        		<!-- Load images -->
        		<img src="{{ asset('assets/images/icons/btn-power-hover.png') }}" alt="load" class="load" />
        		
		        <div class="auth-overall">
		        	
		        	<div class="auth-top">
		        	
		             		<div class="social">
	  	         	 		 <div class="fb-root"></div>
                             <script>
                             window.fbAsyncInit = function() {
                             FB.init({
                             appId      : 'YOUR_APP_ID',
                             status     : true, 
                             cookie     : true,
                             xfbml      : true,
                             oauth      : true,
                             });
                              };
                             (function(d){
                              var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
                              js = d.createElement('script'); js.id = id; js.async = true;
                              js.src = "//connect.facebook.net/en_US/all.js";
                              d.getElementsByTagName('head')[0].appendChild(js);
                              }(document));
                               </script>
                               <div class="fb-login-button">Login with Facebook</div>
		        		</div>
		        		
		        		<div class="login">
		        			<span class="pseudo">{{ 'account.pseudo'|trans }}:</span>
		        			<span class="password">{{ 'account.password'|trans }}</span>
		        			
		        			<div class="auth">
		        				
		        				<p class="form-logged">
		        					<form action="{{ path("fos_user_security_check") }}" method="post">
		        					
		        						
		        						
		        						<input class="username" type="text" name="username" id="username" size="10" />
		        						<input class="password" type="password" name="password" id="password" size="10" />
		        						
		        						<input type="submit" name="login" value="" class="login" /> 
		        					</form>
		        				</p>
		        				
		        			</div>
		        			
		        		</div>
		        		
		        		<div class="register">
		        			<p>{{ 'account.noaccount'|trans }}</p>
		        			
		        			<p><button class="register">{{ 'account.register'|trans }}</button></p>
		        		</div>
		        		
		        	</div>
		        	
		        	<div class="auth-bottom">
		        		
		        		<div class="links">
		        			<p><a href="{{ path('fos_user_security_login') }}"> &nbsp; {{ 'account.login'|trans }}</a> | <a href="{{ path('fos_user_registration_register') }}">{{ 'account.register'|trans }}&nbsp; &nbsp;</a></p>
		        		</div>
		        		
		    		</div>
		        	
				</div>
	        
	        {% endblock %}
	    	</div>
		        
	    <div id="container">
	    {% block container %}
	    
	        	<img id="player_ozil" src="{{ asset('assets/home/images/player_ozil.png') }}" alt="player_ozil" />
				<img id="characters-managers" src="{{ asset('assets/home/images/characters-managers.png') }}" alt="characters-managers" />
	        	<img id="player_cristina" src="{{ asset('assets/home/images/player_cristina.png') }}" alt="player cristina" />
	        	<img id="ball-shoes-field" src="{{ asset('assets/home/images/ball-shoes-field.png') }}" alt="Ball, shoes and field" />
	    
				
				
	        	<a id="arrow-nav" href="#"><img src="{{ asset('assets/home/images/arrow-nav.png') }}" alt="Navigation" /></a>
	        	
	        	<div id="logo"></div>
	        	
	        	<div id="content">
	        		{% block content %}
	        		{% endblock %}
	        	</div>
	        	
	    {% endblock %}    	
	    </div>
	        
	        	
	       		<!-- load images -->
	        	<img class="load" src="{{ asset('assets/home/images/frame-stats.png') }}" alt="frame-stats" />
	        	
		        <div id="statistics">
		        {% block statistics %}
	        		
			        <div class="content">
			        
			        		<div class="frame">
			        			<span class="type">Top manager</span>
			        		</div>
			        		
			        		<div class="frame">
			        			<span class="type">Top joueur</span>
			        		</div>
			        		
			        		<div class="frame">
			        			<span class="type">Top transfert</span>
			        		</div>
			        		
			        		<div class="stats">
			        			<p class="members"><span>Membres |</span> 0</p>
			        			<p class="online"><span>En ligne |</span> 0</span></p>
			        			<p class="new-members-today"><span>Nouveaux aujourd'hui |</span> 100</span></p>
			        		</div>
			        </div>
			        
			       	<div class="bar">
			        		<p>Statistiques du jeu / joueurs</p>
			        </div>
		        </div>
			{% endblock %}
	        </div>
	        
	        <div id="footer">
	        {% block footer %}
	        
	        	<div class="container">
	        	
			    	<div class="inner">
			    		
			    	</div> 
			    
			    </div>
			    
		    	<div class="legal">
			   		{% include 'PmfStaticBundle:Common/Block:footer.html.twig' %}
			    </div>
			
			{% endblock %}    	
		    </div>
        
    {% endblock %}
      
        {% block javascripts %}{% endblock %}
    </body>
</html>
