{% extends '::tmpl-fixed.html.twig' %}

{% block content %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/fixed/css/login.css') }}" />

<span class="nav"><a href="{{ path('homepage') }}">< {{ 'back.home'|trans }}</a></span>

<form method="post">
	<p class="labels"><label for="username">{{ 'account.pseudo'|trans }}:</label> <label for="password">{{ 'account.password'|trans }}:</label></p>
	<p class="inputs">
	<input type="text" name="username" id="username" /> 
	<input type="password" name="password" id="password" />
	<input type="submit" name="login" value="" class="login" />
	</p>
	<span class="forgot-psw"><a href="#">{{ 'account.forgot.password'|trans }}</a></span>
</form>

<p class="buttons">
<button class="fb-connect"></button>
<br />Or<br />
<button class="fb-register"></button>
</p>

<p class="new">{{ 'account.noaccount'|trans }}</p>
<p><button class="register">{{ 'account.register'|trans }}</button></p>
{% endblock %}