{% extends '::base.html.twig' %}

{% block content %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/pmfuser/css/register.css') }}" />
<script src="{{ asset('assets/pmfuser/js/create-team.js') }}" type="text/javascript"></script>

<div id="registration-p1">
	<div id="content">
		
		<!-- coffee and ipod images -->
		<img id="coffee" src="{{ asset('assets/pmfuser/images/registration/coffee.png') }}" alt="coffee">
		<img id="ipod" src="{{ asset('assets/pmfuser/images/registration/ipod.png') }}" alt="ipod">
		
		<div id="photo-area">
			<img class="trombone" src="{{ asset('resources/images/profile/trombone.png') }}">
			<img class="picture" src="{{ asset('resources/images/profile/blank.png') }}">
		</div>
		
		<h1>-CREEZ VOTRE EQUIPE-</h1>
		
		<form action="{{ path('registration_create_team') }}" {{ form_enctype(form) }} id="create-team" method="POST">
			
			<div>
				{{ form_label(form.name) }}
	    		{{ form_widget(form.name) }}
	    	</div>
	    	
	    	<div>
	    		{{ form_label(form.ABV) }}
	    		{{ form_widget(form.ABV, {'attr':{ 'style': 'text-transform: uppercase; width:25px', 'maxlength': 3}}) }}
	    	</div>
	    	
	    	<div>
	    		{{ form_label(form.gender) }}
	    		{{ form_widget(form.gender, { 'attr':{ 'class': 'radio' }}) }}
	    	</div>
	    	
	    	<div>
	    		{{ form_label(form.style) }}
	    		{{ form_widget(form.style, { 'attr':{ 'class': 'radio' }}) }}
	    	</div>
	    	
 			{{ form_rest(form) }}
			
			<div style="text-align:center;padding-top:1em;">
				<input type="submit" id="create-team" value="Créez l'équipe" />
			</div>
			
		</form>
	
	</div>	
</div>

<a style="display:none;" id="box-error-trigger" href="#box-error"></a>
<div style="display:none">
	<div id="box-error" class="box">
		<div class="top">
			<h1>LE BORD DE DIRECTION</h1>
		</div>
		<div class="middle">
			<p>Veuillez régler les erreurs suivantes:</p>
			
			<div class="content"></div>
			
			<p style="text-align:center;"><a href="#" onclick="$.fancybox.close(); return false;"><img src="{{ asset('assets/common/images/buttons/btn-ok.png') }}" alt="ok" /></a></p>
			
		</div>
	
	</div>
</div>
{% endblock %}