{% extends '::base.html.twig' %}

{% block content %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/pmfuser/css/register.css') }}" />

<div id="registration-p1">
	<div id="content">
		
		<!-- coffee and ipod images -->
		<img id="coffee" src="{{ asset('assets/pmfuser/images/registration/coffee.png') }}" alt="coffee">
		<img id="ipod" src="{{ asset('assets/pmfuser/images/registration/ipod.png') }}" alt="ipod">
		
		<div id="photo-area">
			<img class="trombone" src="{{ asset('resources/images/profile/trombone.png') }}">
			<img class="picture" src="{{ asset('resources/images/profile/blank.png') }}">
		</div>
		
		<h1>-CREEZ VOTRE EQUIPE-</h1>
		
		<form action="{{ path('registration_create_team') }}" {{ form_enctype(form) }} method="POST"
			
			{{ form_widget(form) }}
			
			<div style="text-align:center;padding-top:1em;">
				<input type="submit" id="create-team" value="Créez l'équipe" />
			</div>
			
		</form>
	
	</div>	
</div>
{% endblock %}