{% extends '::base.html.twig' %}

{% block content %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/pmfuser/css/register.css') }}" />
<script src="{{ asset('assets/pmfuser/js/registration.js') }}" type="text/javascript"></script>

<div id="registration-p1">
	<div id="content">
		
		<!-- coffee and ipod images -->
		<img id="coffee" src="{{ asset('assets/pmfuser/images/registration/coffee.png') }}" alt="coffee">
		<img id="ipod" src="{{ asset('assets/pmfuser/images/registration/ipod.png') }}" alt="ipod">
		
		<div id="photo-area">
			<img class="trombone" src="{{ asset('resources/images/profile/trombone.png') }}">
			<img class="picture" src="{{ asset('resources/images/profile/blank.png') }}">
		</div>
		
		<h1>-CREEZ VOTRE PROFIL-</h1>
		
		<form id="registration" action="{{ path('registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
			
			<div>
				{{ form_label(form.username) }}
	    		{{ form_widget(form.username) }}
	    	</div>
	    	
	    	<div>
	    		{{ form_label(form.lastname) }}
	    		{{ form_widget(form.lastname) }}
	    	</div>
	    	
	    	<div>
	    		{{ form_label(form.firstname) }}
	    		{{ form_widget(form.firstname) }}
	    	</div>
	    	
	    	<div>
	    		{{ form_label(form.email) }}
	    		{{ form_widget(form.email) }}
	    	</div>
	    	
	    	<div>
	    		{{ form_widget(form.plainPassword) }}
	    	</div>
	    	
	    	<div>
	    		{{ form_label(form.gender) }}
	    		{{ form_widget(form.gender, { 'attr':{ 'class': 'radio' }}) }}
	    	</div>
	    	
	    	<div>
	    		{{ form_label(form.birthday) }}
	    		{{ form_widget(form.birthday) }}
	    	</div>
	    	
	    	<div>
	    		{{ form_label(form.country) }}
	    		{{ form_widget(form.country) }}
	    	</div>
	    	
	    	<div>
	    		{{ form_label(form.language) }}
	    		{{ form_widget(form.language) }}
	    	</div>
	    	
	    	<div>
	    		{{ form_label(form.philosophy) }}
	    		{{ form_widget(form.philosophy, { 'attr':{ 'class': 'radio' }}) }}
			</div>
			
 			{{ form_rest(form) }}
		
			<div style="text-align:center;padding-top:1em;">
				<input type="submit" id="register" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
				
				<!-- TEST - TO REMOVE -->
				<button onclick="$('a#box-success-trigger').trigger('click');">Test: Trigger box without processing data</button>
			</div>
			
			
		</form>
	
	</div>	
</div>
	
<a style="display:none;" id="box-success-trigger" href="#box-registered"></a>
<div style="display:none">
	<div id="box-registered">
		<div class="top">
			<h1>LE BORD DE DIRECTION</h1>
		</div>
		<div class="middle">
			<p>Le bord de direction a été impréssionné par votre profil et a décidé d'accepter votre candidature.<br />
			Un courrier de bienvenue vient de vous être envoyé par email à l'instant.<br />
			<b>Veuillez confirmer votre email</b> pour entâmer la création de votre équipe et commencer votre carrière de manager.</p>
	
			<p>Bonne chance !</p>
	
			<p>La direction.</p>
			
			<p style="text-align:center;margin-top:-15px;"><a href="#" onclick="$.fancybox.close(); window.location = '{{ path('homepage') }}'; return false;"><img src="{{ asset('assets/common/images/buttons/btn-ok.png') }}" alt="ok" /></a></p>
			
		</div>
	
	</div>
</div>
{% endblock %}

