{% extends '::base.html.twig' %}

{% block content %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/pmfuser/css/register.css') }}" />

<div id="registration-p1">
	<div id="content">
		
		<!-- coffee and ipod images -->
		<img id="coffee" src="{{ asset('assets/pmfuser/images/registration/coffee.png') }}" alt="coffee">
		<img id="ipod" src="{{ asset('assets/pmfuser/images/registration/ipod.png') }}" alt="ipod">
		
		
		<h1>-REGLEMENT DU JEU-</h1>
		
		<div id="contract">
		
		</div>
	
		<p style="font-size:70%">Avant de poursuivre, vous devez cértifier avoir pris connaissance du réglement de jeu et indiquer si vous souhaitez vous abonner à notre newsletter.</p>
		
		<form style="margin-top:0;padding-top:0;" action="{{ path('registration_sign_contract') }}" {{ form_enctype(form) }} method="POST">
			
			<div style="margin-left:185px;font-size:65%;">
				<span style="color:green">Oui</span> / <span style="color:red">Non</span>
			</div>
			
			{{ form_label(form.contract) }}
			{{ form_widget(form.contract) }}
			
			{{ form_label(form.newsletter) }}
			{{ form_widget(form.newsletter) }}
			
			{{ form_rest(form) }}
			
			<p style="text-align:center;"><input type="submit" name="submit" value="Jouez maintenant!" /></p>
		</form>
		
	</div>	
</div>
{% endblock %}