<!-- internalisation - switch language -->
<div id="i18n">
	<ul class="i18n">
			{% if app.session.locale == 'fr' %}
			<li>Langue: <img src="{{ asset('assets/common/images/icons/flags/fr.png') }}" />
			<ul>
				<li><a href="{{ path(app.request.get('_route'), {'_locale': 'en'}) }}"><img src="{{ asset('assets/common/images/icons/flags/gb.png') }}" />en</a></li>
			</ul></li>
			{% elseif app.session.locale == 'en' %}
			<li>Language: <img src="{{ asset('assets/common/images/icons/flags/gb.png') }}" />
			<ul>
				<li><a href="{{ path(app.request.get('_route'), {'_locale': 'fr'}) }}"><img src="{{ asset('assets/common/images/icons/flags/fr.png') }}" />fr</a></li>
			</ul></li>
			{% endif %}
	</ul>
</div>

<!-- information center - links to main pages -->
<div id="info-center">
	<a href="{{ path('homepage') }}"><img src="{{ asset('assets/common/images/info-center/icons/home.png') }}" alt="" /></a>
	<a href=""><img src="{{ asset('assets/common/images/info-center/icons/news.png') }}" alt="" /></a>
	<a href=""><img src="{{ asset('assets/common/images/info-center/icons/help.png') }}" alt="" /></a>
	<a href=""><img src="{{ asset('assets/common/images/info-center/icons/reddit.png') }}" alt="" /></a>
</div>