<p><a href="#">{{ 'footer.partnership'|trans }}</a> |  <a href="#">{{ 'footer.enrollment'|trans }}</a> |  
<a href="#">{{ 'footer.legal'|trans }}</a> |  <a href="#">{{ 'footer.help'|trans }}</a> | 
<a href="#">{{ 'footer.bug'|trans }}</a> | <a href="#">{{ 'footer.contact'|trans }}</a></p>
<p>Design Elements Entreprise - {{ 'footer.rights'|trans }} © 2012 - <a href="#"><a href="#">www.pro.manager.com</a></p>