<meta charset="UTF-8" />
<title>{% block title %}Pro Manager{% endblock %}</title>
      
<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
		
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/common/css/main.css') }}" />
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/common/css/superfish.css') }}" />

<!-- Librairies -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>

<script src="{{ asset('assets/common/js/superfish.js') }}" type="text/javascript"></script>

<script src="{{ asset('assets/common/js/init.js') }}" type="text/javascript"></script>